@import 'reset';
@import 'variables/global';

html {
    font-size: calc(100vw / 1024 * 10);
    @media (max-width: 1024px) { 
        font-size: calc(100vw / 768 * 10);
    }
    @media (max-width: 767px) { 
        font-size: calc(100vw / 500 * 10);
    }
    @media (max-width: 500px) { 
        font-size: calc(100vw / 375 * 10); 
    }
}

a {
    color: inherit;
}

.button {
    @media (max-width: 560px) {
        width: 100%;
        text-align: center;
    }
}

.page,
.page__body
#root {
    height: 100%;
}

.page__body {
    &.isHidden {
        overflow: hidden;
    }
}