:root {
    --clr-primary-400: hsl(0, 100%, 74%);
    --clr-primary-500: hsl(154, 59%, 51%);

    --clr-accent-400: hsl(248, 32%, 49%);

    --clr-neutral-100: hsl(0 0% 100%);
    --clr-neutral-400: hsl(246, 25%, 77%);
    --clr-neutral-500: hsl(249, 10%, 26%);
    --clr-neutral-900: hsl(230, 35%, 7%);

    --ff-primary: 'Poppins', sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}