.Button {
    cursor: pointer;
    color: var(--clr-neutral-100);
    padding: 1rem 4rem;
    font-weight: var(--fw-bold);
    border-radius: 0.4rem;
    border: none;

    &:hover {
        opacity: 0.7;
        fill-opacity: 0.7;
        stroke-opacity: 0.7;
    }
    
    @media (max-width: 768px) {
        font-size: 1.6rem;
    }
}

.isUppercase {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.fullWidth {
    width: 100%;
}

.disabled {
    opacity: 0.5;
}

.primary {
background-color: var(--clr-primary-500);
}

.accent {
background-color: var(--clr-accent-400);
}