.Button {
    cursor: pointer;
    color: var(--clr-neutral-100);
    padding: 1rem 4rem;
    font-weight: var(--fw-bold);
    border-radius: 0.4rem;
    border: none;

    &:hover {
        opacity: 0.7;
        fill-opacity: 0.7;
        stroke-opacity: 0.7;
    }
    
    @media (max-width: 768px) {
        font-size: 1.6rem;
    }
}

.isUppercase {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.fullWidth {
    width: 100%;
}

.disabled {
    opacity: 0.5;
}

.primary {
    background-color: var(--clr-primary-500);
}

.accent {
    background-color: var(--clr-accent-400);
}

.main {
    background-color: var(--clr-neutral-900);
    border: 0.1rem solid var(--clr-neutral-900);
    border-radius: 0.6rem;
    transition: all 0.3s ease-in-out;
    padding: 0.5rem 2rem;

    @media (max-width: 768px) {
        padding: 0.4rem 1rem;
        font-size: 1rem;
    }
        
    @media (max-width: 560px) {
        padding-block: 1rem;
        font-size: 1.4rem;
    }

    &:hover {
        background-color: transparent;
        color: var(--clr-neutral-900);
    }
}